.create-listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.create-listing-container h2 {
    font-size: 32px;
}

.create-listing-container label {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.create-listing-container p {
    width: 200px;
    font-size: 20px;
}

.create-listing-container input {
    width: 400px;
    max-width: 600px;
}

.create-listing-container select {
    width: 425px;
    padding: 12px;
    margin-bottom: 1rem;
    background-color: #7ab0ae;
    border: 2px solid transparent;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.703);
    font-size: 1rem;
}

.create-listing-container textarea ::placeholder {
    color: rgba(255, 255, 255, 0.703);
}

.create-listing-container textarea {
    width: 400px;
    padding: 12px;
    margin-bottom: 1rem;
    background-color: #7ab0ae;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}