@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.create-listing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.create-listing-container h2 {
    font-size: 32px;
}

.create-listing-container label {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.create-listing-container p {
    width: 230px;
    font-size: 20px;
}

.create-listing-container input {
    width: 400px;
    max-width: 600px;
}

.create-listing-container select {
    width: 425px;
    padding: 12px;
    margin-bottom: 1rem;
    background-color: #7ab0ae;
    border: 2px solid transparent;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.703);
    font-size: 1rem;
}

.create-listing-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.703);
    letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
}

.create-listing-container textarea {
    width: 400px;
    padding: 12px;
    margin-bottom: 1rem;
    background-color: #7ab0ae;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    letter-spacing: 0;
}

.category-fields {
    margin-left: 80px;
}

.category-fields p {
    width: 150px;
    font-size: 17px;
}

.category-fields input {
    height: 10px;
}

.file-upload-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-previews {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.no-image-text {
    color:#555555;
    letter-spacing: 0;
    font-size: 16px;
}