.listing-card {
    background-color: white;
    border: transparent;
    border-radius: 12px;
    box-shadow: 0 4px 10px #012d2c;
    overflow: hidden;
    width: 350px;
    height: 450px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-shrink: 0;
}

.listing-card:hover {
    border: 2px solid #054341;
    box-shadow: 0 3px 20px #012d2c;
}

.listing-image {
    width: 90%;
    height: 270px;
    object-fit: cover;
    display: block;
    margin: 30px auto 0 auto;
    border-radius: 12px;
}

.listing-info {
    padding: 18px;
    text-align: left;
}

.listing-name {
    font-size: 23px;
    color: #054341;
    margin-bottom: 5px;
}

.listing-condition {
    color: #666;
    font-size: 19px;
    margin-bottom: 5px;
}

.listing-location {
    color: #999;
    font-size: 16px;
}