/* Full screen overlay */
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
}

/* Modal box */
.modal-content {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    width: 700px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Title */
.modal-content h3 {
    margin: 0;
    font-size: 23px;
    text-align: center;
}

/* Labels and inputs */
.modal-content label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 5px;
    gap: 8px;
    color: #054341;
}

/* Text Inputs */
.modal-content select,
.modal-content textarea,
.modal-content input[type="text"]{
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    color: #054341;
    background-color: #f9f9f9;
    border: 2px solid #7ab0ae;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.modal-content select:focus,
.modal-content textarea:focus,
.modal-content input[type="text"]:focus {
    border-color: #054341;
    background-color: #fff;
    outline: none;
}

.modal-content textarea {
    resize: vertical;
    min-height: 100px;
    line-height: 1.5;
}

/* File input */
.modal-content input[type="file"] {
    background-color: white;
    cursor: pointer;
    border: transparent;
    font-size: 16px;
}

.modal-content input[type="file"]::file-selector-button {
    background-color: #054341;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.2s ease;
    margin-right: 20px;
}

.modal-content input[type="file"]::file-selector-button:hover {
    background-color: #6ca39f;
}

/* Modal action buttons */
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;
}

/* Cancel button */
.modal-actions button:first-child {
    background-color: #e0e0e0;
    color: #333;
}

.modal-actions button:first-child:hover:not(:disabled) {
    background-color: #d5d5d5;
}

/* Report button */
.modal-actions button:last-child {
    background-color: #d8686a;
    color: #fff;
}

.modal-actions button:last-child:hover:not(:disabled) {
    background-color: #ff4d4f;
}

/* Images/Videos display*/
.evidence-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
    max-height: 200px; 
    overflow-y: auto;  
}

.thumbnail {
    width: 60px;        
    height: 45px;     
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail img,
.thumbnail video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
