/* 
- Global styles for the entire app
- Resets, body styling, fonts, and colors
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2B2B2B;
    background: linear-gradient(180deg, #f4f5f8 0%, #95b2ae 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Headings */
h1 {
    font-weight: 500;
    color: white;
}

h2 {
    font-weight: 600;
    color: #054341;
    padding: 30px;
    text-align: center;
}

p {
    color: #054341;
    padding: 10px 30px 10px 30px;

    letter-spacing: 1.5px;
}

/* Input fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 1rem;
    background-color: #7ab0ae;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.703);
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid #054341;      
    outline: none;                   
}

/* Button */
button {
    width: 300px;
    padding: 12px;
    background-color: #054341;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 2rem auto 2rem;
    max-width: 400px;
}

button:hover {
    background-color: #6ca39f;
    border: 2px solid #054341;  
    border-width: 2px;
}

/* Messages */
.error {
    color: red;
    margin-top: 0.5rem;
}

.success {
    color: green;
    margin-top: 0.5rem;
}