/* 
- Global styles for the entire app
- Resets, body styling, fonts, and colors
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2B2B2B;
    background: linear-gradient(180deg, #f4f5f8 0%, #95b2ae 100%);
}

/* Headings */
h1 {
    font-weight: 500;
    color: white;
}

h2 {
    font-weight: 400;
    color: #054341;
    padding: 30px;
}

/* Messages */
.error {
    color: red;
    margin-top: 0.5rem;
}

.success {
    color: green;
    margin-top: 0.5rem;
}