name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Set up backend .env
        run: |
          echo "CLOUDINARY_NAME=${{ secrets.CLOUDINARY_NAME }}" >> backend/.env
          echo "CLOUDINARY_API_KEY=${{ secrets.CLOUDINARY_API_KEY }}" >> backend/.env
          echo "CLOUDINARY_API_SECRET=${{ secrets.CLOUDINARY_API_SECRET }}" >> backend/.env
          echo "SMTP_USER=${{ secrets.SMTP_USER }}" >> backend/.env
          echo "SMTP_PASS=${{ secrets.SMTP_PASS }}" >> backend/.env
          echo "SMTP_HOST=${{ secrets.SMTP_PASS }}" >> backend/.env
          echo "SMTP_PORT=${{ secrets.SMTP_PASS }}" >> backend/.env
          echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}' > backend/serviceAccountKey.json

      - name: Install dependencies
        run: |
          cd backend
          npm install

      - name: Run tests
        run: |
          cd backend
          npm test
